@import "vars";
@import "global";
@import "libs";
@import "fonts";

.header__top-inner {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    font: 12px/24px;
    color: #fff;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register{
    background-color: $red;
    margin-left: 7px;
}
.header__menu {
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
    &__list li {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
        a {
            font-size: 14px;
            color: #fff;
        }
    }
}
.search {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 535px;
    &.page-search{
        min-height: 230px;
        .search__inner{
            padding: 55px 0 70px;
            &-text{
                margin-bottom: 20px;
            }
        }
    }
    &__inner {
        padding: 155px 0 100px;
        color: #fff;
        text-align: center;
        &-title {
            margin-bottom: 10px;
            font-size: 48px;
            @include f700;
            line-height: 70px;
        }
        &-text {
            margin-bottom: 50px;
            font-size: 20px;
            @include f500;
            line-height: 30px;
        }
        &-form {
            max-width: 670px;
            margin: 0 auto;
            position: relative;
            input {
                display: block;
                width: 100%;
                height: 56px;
                padding: 0 60px 0 25px;
                border-radius: 4px;
                box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
                border: none;
                outline: none;
                font-size: 14px;
                &::placeholder {
                    @include f500;
                    color: #97aab3;
                } 
            }
            button{
                position: absolute;
                right: 20px;
                top: 16px;
                outline: none;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}
.products {
    padding: 100px 0 110px;
    background-color: $grey;

    &__inner-btn {
        margin-bottom: 60px;
        text-align: center;
        button{
            padding: 12px 21px;
            background-color: #fff;
            box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
            color: $bg;
            border: none;
            outline: none;
            cursor: pointer;
            &+button {
                margin-left: 5px;
            } 
            &.mixitup-control-active{
                background-color: $red;
                color: #fff;
            }
        }
    }
    &__inner-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    // .products__item
    &__item {
        max-width: 442px;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);                      
        &-img {
            min-height: 250px;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &-content{
            min-height: 90px;
            padding: 10px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e7ecf2;
            @include f500;
        }
        &-name{
            max-width: 310px;
        }
        &-title{
            display: block;
            font-size: 18px;
            @include f500;
            color: $bg;
        }
        &-category{ 
            display: block;
            font-size: 14px;
            color: $green;
        }
        &-price{
            font-size: 20px;
            @include f700;
            color: $bg;
        }
        &-info {
            min-height: 70px;
            padding: 10px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-author{
            display: flex;
            align-items: center;
            max-width: 245px;
            .avatar {
                min-width: 30px;
                height: 30px;
                margin-right: 14px;
                display: inline-block;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            span {
                font-size: 14px;
                @include f500;
            }
        }
        &-star{
            display: flex;
            align-items: center;
            font-size: 12px;
            span{
                color: $bg;
            }
        }
    }

    &__bottom-btn {
        text-align: center;
        button{
            padding: 12px 21px;
            margin-top: 48px;
            background-color: #fff;
            box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
            color: $bg;
            border: none;
            outline: none;
            cursor: pointer;
            &+button {
                margin-left: 5px;
            } 
            &.mixitup-control-active{
                background-color: $red;
                color: #fff;
            }
        }
    }
}

.product-slider {
    padding: 110px 0 120px;
    .slick-dots{
        margin-top: 50px;
        text-align: center;
        li{
            display: inline-block;
            margin: 0 3px; 
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
            button{
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                outline: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }
        }
    }
}
.advantages {
    padding: 110px 0;
    background-color: $bg;
    // .advantages__title
    &__title {
        color: #fff;
        margin-bottom: 85px;
    }
    // .advantages__inner
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    // .advantages__item
    &__item {
        max-width: 370px;
        padding: 0 15px;
        text-align: center;
        &:hover{
            .advantages__item-img{
                background-color: $green;
                &{
                    fill: #fff;
                }
            }
            .advantages__item-title{
                color: $green;
            }
        }
        &-img{
            width: 114px;
            height: 114px;
            margin: 0 auto 30px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .5s;
        }
        &-title{
            margin-bottom: 25px;
            font-size: 24px;
            color: #fff;
            @include f500; 
            transition: all .5s;
        }
        &-text{
            font-size: 15px;
        }
    }
}
.icosvg{
    svg{
        width: 50px;
    }
}
.author {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box {
        max-width: 620px;
        width: 100%;
        min-height: 215px;
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        max-width: 261px;
        margin-right: 45px;
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        span{
            @include f500;
        }
    }
    &__link {
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
    }
}
.tutorial {
    padding: 70px 0 120px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        max-width: 370px;
        width: 100%;
        &-images{
            min-height: 270px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &-title{
            padding: 30px 10px;
            background-color: #f8f8f8;
            font-size: 24px;
            text-align: center;
            @include f700;
            color: $bg;
            text-align: center;
        }
    }
}

.footer {
    background-color: $bg;
    &__content {
        padding: 100px 0 80px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__col {
        max-width: 270px;
        &-menu{
            max-width: 220px;
        }
        &-title{
            position: relative;
            margin-bottom: 30px;
            padding-bottom: 30px;
            font-size: 22px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            color: #fff;
            &::before{
                content: '';
                position: absolute;
                width: 51px;
                height: 3px;
                bottom: 0;
                left: 2px;
                background-color: $green;
            }
        }
        &-text{
            margin-bottom: 30px;
            color: #b7c3c8;
            
        }
        &-list{
            a{
                margin-bottom: 13px;
                padding-left: 22px;
                position: relative;
                color: #b7c3c8;
                &::before{
                    content: '\f105';
                    position: absolute;
                    left: 0;
                    font-size: 18px;
                    font-family: 'icomoon';
                    color: $green;
                }
            }
        }
    }
    &__info {
        position: relative;
        margin-top: 18px;
        padding-left: 30px;
        @include f500;
        color: #fff;
        &::before{
            content: '\f041';
            position: absolute;
            left: 0;
            font-size: 18px;
            font-family: 'icomoon';
            color: $green;
        }
        &-phone{
            &::before{
                content: '\f095';
            }
        }
    }
    &__social-links {
        margin-bottom: 33px;
        li{
            display: inline-block;
            &+li{
                margin-left: 7px;
            }
            a{
                width: 28px;
                height: 28px;
                background-image: url(../images/socials.png);                
            }
            .link-facebook {
                background-position: 0 0;
            }
            .link-twitter {
                background-position: -31px -31px;
            }
            .link-youtube {
                background-position: -61px -1px;
            }
            .link-pinterest {
                background-position: -31px -1px;
            }
            .link-linkedin {
                background-position: -1px -31px;
            }
            
        }
    }
    &__form {
        position: relative;
        &-title{
            margin-bottom: 15px;
            font-size: 20px;
            color: #fff;
        }
        input{
            height: 40px;
            padding-left: 13px;
            padding-right: 50px;
            background-color: #2f3c43;
            display: block;
            width: 100%;
            color: #fff;
            font-size: 14px;
            border: none;
            outline: none;
            &::placeholder{
                color: #697378;
            }
        }
        button{
            position: absolute;
            height: 40px;
            width: 43px;
            bottom: 0;
            right: 0;
            background-color: $green;
            border: none;
            cursor: pointer;
            &::before{
                content: '\f124';
                position: absolute;
                top: 9px;
                left: 13px;
                font-size: 20px;
                font-family: 'icomoon';
                color: #fff;
            }
        }
    }
    &__copy {
        border: 1px solid #424d53;
        &-text {
            padding: 25px 0;
            font-size: 15px;
            color: #919699;
            text-align: center;
        }
    }
}

//product-page
.product-page {
    &__inner {
        display: flex;
        padding-bottom: 110px;
    }
    &__aside {
        margin-right: 30px; 
        .products__item-img{
            min-height: 120px;
        }
        .products__item{
            box-shadow: none;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #dde3e8;
        }
        .products__item-content,
        .products__item-info{
            padding: 0;
        }
        .products__item-title,
        .products__item-price{
            font-size: 16px;
        }
       .products__item-content{
           min-height: 75px;
           border-bottom: none;
       }
       .products__item-info{
           min-height: 0;
       }
       .products__item-starnum{
           display: none;
       }
       .rate-star{
           margin-right: 0;
       }
       .products__item-avatar .avatar{
           margin-right: 9px;
       }
       .jq-ry-container{
           padding: 0;
       }
    }
    &__content {
        width: 100%;
        .product-page__items{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .products__item-text, 
            .products__item-list{
                display: none;
            }
            .products__item-price{
                span{
                    display: none;
                }
            }
            .products__item{
                max-width: 270px;
                background-color: #fff;
                transition: all .5s;
                &.list{
                    max-width: 100%;
                    .products__item-img{
                        width: 240px;
                        min-height: 100%;
                        float: left;
                    }
                    .products__item-name{
                        max-width: 480px;
                    }
                    .products__item-text{
                        display: block;
                        font-size: 14px;
                        color: #70838d;
                        margin: 15px 0 5px;
                    }
                    .products__item-price{
                        text-align: right;
                        font-size: 30px;
                        span{
                            margin-top: 33px;
                            display: block;
                            font-size: 13px;
                            color: #aeb4bb;
                        }
                    }
                    .products__item-content{
                        padding-top: 23px;
                    }
                    .products__item-list{
                        display: block;
                        .icon-comment-o,
                        .icon-heart-o{
                            padding-left: 50px;
                            display: inline-block;
                            position: relative;
                            border-left: 1px solid #aeb4bb;
                            font-size: 12px;
                            color: #70838d;
                            span{  
                                color: $bg;
                                @include f500;
                            }
                            &:before{
                                font-size: 16px;
                                color: $green;
                                position: absolute;
                                left: 20px;
                                top: 0;
                                cursor: pointer;
                            }
                        }
                        .icon-comment-o{
                            padding-right: 30px;
                            &:before{
                                top: -2px;
                            }
                        }
                    }
                    .products__item-star{
                        margin-left: auto;
                        margin-right: 30px;
                    }
                }
            }
            .products__item-img{
                min-height: 180px;
            }
            .products__item-content{
                padding: 10px 20px;
            }
            .products__item-title{
                font-size: 16px;
            }
            .products__item-info{
                min-height: 65px;
                padding: 10px 20px;
            }
            .rate-star{
                margin-right: 5px;
            }
            .jq-ry-container{
                padding: 0;
            }
        }
    }
    &__filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        margin-bottom: 30px;
        padding: 0 20px;
        background-color: #fff;
        border: 1px solid #dedede;
        button{
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            color: #90a4ae;
            &.active{
                color: $green;
            }
        }
        .product-page__filter-sort{
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #707070;
        }
        button.icon-sort-amount-desc{
            font-size: 18px;
            color: #455a64;
        }
        button.icon-unsorted{
            font-size: 14px;
            color: #707070;
        }
    }
}
.category {
    &__list {
        padding-top: 10px;
        li{
            position: relative;
            padding: 10px 0;
            padding-left: 20px;
            display: flex;
            justify-content: space-between;
            &::before{
                content: '\f105';
                position: absolute;
                left: 0;
                top: 9px;
                font-size: 16px;
                font-family: 'icomoon';
                color: $green;
            }
        }
        a{
            color: $bg;
        }
        span{
            margin-left: 10px;
            color: #90a5ae;
        }
    }
}
.aside {
    &__title{
        padding: 22px 0 19px;
        font-size: 20px;
        @include f700;
        color: &bg;
        border-bottom: 1px solid #dde3e8;
    }
    &__item{
        width: 270px;
        margin-bottom: 30px;
        padding: 0 32px 32px;
        background-color: #fff;
        border: 1px solid #dedede;
    }
    &__product-items{
        .products__item:last-child{
            border-bottom: none;
            padding-bottom: 0;
        }
        .products__item:first-child{
            margin-top: 25px;
        }
    }
}
.price-range {
    form{
        padding-top: 20px;
    }
    button{
        margin-top: 55px;
        padding: 16px 10px;
        background-color: $green;
        text-align: center;
        color: #fff;
        @include f500;
        width: 100%;
        display: block;
        border: none;
        cursor: pointer;
        position: relative;
        &:before{
            content: '\f002';
            position: absolute;
            left: 58px;
            top: 15px;
            font-family: 'icomoon';
            font-size: 15px;
            color: #fff;
        }
    }
}
.irs-min,
.irs-max{
    display: none;
}
.irs--flat .irs-line{
    background-color: #f2f5f8;
    height: 5px;
}
.irs--flat .irs-bar{
    background-color: $bg;
    height: 5px;
}
.irs--flat .irs-handle{
    width: 16px;
    height: 16px;
    top: 20.5px;
    border: 4px solid $green;
    background-color: #fff;
    border-radius: 50%;
}
.irs--flat .irs-handle>i:first-child{
    display: none;
}
.irs-from, .irs-single, .irs-to{
    top: 45px;
}
.irs--flat .irs-to, .irs--flat .irs-single, .irs--flat .irs-from{
    font-size: 15px;
    color: #78909c;
    line-height: 1.333;
    text-shadow: none;
    background-color: transparent;
    border-radius: 0px;
}
.irs--flat .irs-to:before, .irs--flat .irs-single:before, .irs--flat .irs-from:before{
    display: none;
}
.top-sallers {
    &__link {
        padding: 16px 10px;
        display: block;
        background-color: $green;
        color: #fff;
        @include f500;
        text-align: center;
    }
}
.pagination {
    &__list {
        li{
            display: inline-block;
            & + li{
                margin-left: 6px;
            }
            a, span{
                width: 43px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
                background-color: #fff;
                font-size: 16px;
                color: $bg;
                @include f500;
                &.active{
                    background-color: $red;
                    color: #fff;
                } 
            }
        }
    }
}


@import "media";
